body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial',sans-serif;
}

.main-footer {
    background: #ffffff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}

.text-sm .main-footer, .main-footer.text-sm {
    padding: 0.812rem;
}

.table-title {
    justify-content: space-between ;
    padding: 15px 0 ;
}

.btn-toolbar {
    border-radius: 3px;
    border: 1px lightgrey solid;
    background: white;
}

.data-table {
    border: 0.5px solid lightgrey;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    display: block;
}

.data-table-head {
    color: #347eff;
    text-align: center;
    background: #dedede;
    display: inline-block;
    width: 100%;
}

.data-table-body {
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    display: inline-block;
}

.data-table-body tr:hover {
    background: lightgrey;
}

.data-table tr {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.data-table input {
    width: 100%;
    box-sizing: border-box;
}

.data-table-head tr {
    height: 40px;
}

.data-table-body tr {
    display: block;
}

.id-column, .action-column, .first-name-column, .last-name-column, .email-column, .publisher-name-column, .image-column {
    padding: 3px;
}

.id-column {
    width: 100px;
}

.email-column, .publisher-name-column, .image-column {
    width: 250px;
}
.first-name-column, .last-name-column, .action-column, .role-column {
    width: 150px
}

.role-column, .action-column, .id-column {
    text-align: center;
}

.lv-data-table-edit, .lv-data-table-trash {
    margin: 0 10px;
}

.action-column a {

}

.lv-data-table-edit {
    color: #1d455b;
}

.lv-data-table-trash {
    color: red;
}

.loading-table {
    position: absolute;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-size: 60px;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    z-index: 100;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-search {
    position: relative;
    border: 1px solid lightgrey;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 2px;
}

.input-search:focus {
    border-color: #1d68a7;
}

.form-group {
    margin-bottom: 1px !important;
}

/*error message*/
.error_message {
    color: red;
    font-size: 12px;
}

.error_border {
    border: 1px red solid !important;
}
/* */

.hide-password {
    background: url("/admin/img/hide_password.png") no-repeat center;
    width: 16px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.show-password {
    background: url("/admin/img/show_password.png") no-repeat center;
    width: 16px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.alert {
    left: auto;
    right: 8px;
    z-index: 1;
    width: 400px;
    position: absolute !important;
    display: none;
}

.alert > ul {
    list-style: none;
    padding-left: 20px;
}

.closebtn {
    margin-left: 15px;
    color: #908b8b;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* publisher */
.image-column {
    text-align: center;
}

